/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  

  .modal {
    transition-property: all;
  }
  .menu :where(li:not(.disabled)) > :where(:not(ul)) {
    transition-property: none;
  }
}


.input-disabled, .input[disabled]{
  border-color: transparent;
  background-color: transparent;
}